<template>
    <div>
        <v-app-bar
            :clipped-left="$vuetify.breakpoint.lgAndUp"
            app
            color="primary"
            dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title
                style="width: 300px; display: flex; align-items: center;"
                class="ml-0 pl-4"
            >
                <!--
                <img class="mr-2" src="/img/EscudoUsta.png" width="50px" alt="escudo usta">
                <span class="hidden-sm-and-center">TUTORÍAS</span>
                -->
                <img width="170px" src="/img/logo-skedul.png" alt="escudo usta">
            </v-toolbar-title>
            <!--
            <v-text-field
                flat
                solo-inverted
                hide-details
                prepend-inner-icon="mdi-magnify"
                label="Search"
                class="hidden-sm-and-down"
            ></v-text-field>
            -->
            <v-spacer></v-spacer>
            <!--
            <v-btn icon>
                <v-icon>mdi-apps</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>mdi-bell</v-icon>
            </v-btn>
            -->
            <div class="d-flex align-items-center">
                <div class="mr-2 text-right d-none d-sm-block">
                    <p class="mb-0 h6">{{authUser.name}}</p>
                    <p class="mb-0 caption">{{authUser.role}}</p>
                </div>
                <v-avatar color="orange" size="45">
                    <span class="white--text headline">{{firstLetters}}</span>
                </v-avatar>
            </div>

        </v-app-bar>
        <v-navigation-drawer
            v-model="drawer"
            :clipped="$vuetify.breakpoint.lgAndUp"
            app
        >
            <div v-if="logo_institucion" style="padding: 10px">
                <img style="width: 100%" :src="'/storage/'+logo_institucion" alt="">
                <v-divider />
            </div>
            <div class="text-center my-4 d-sm-none mx-3">
                <p class="mb-0 h6 primary--text">{{authUser.name}}</p>
                <p class="mb-0 caption">{{authUser.role}}</p>
            </div>
            <v-list dense>
                <v-list-item
                    color="primary"
                    v-for="item in items"
                    :key="item.text"
                    :to="item.to"
                    v-if="hasRoles(item.roles)"
                    link
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title style="font-weight: 700">{{ item.text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="logout">
                    <v-list-item-icon>
                        <v-icon class="error--text">mdi-exit-to-app</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="error--text" style="font-weight: 700">Cerrar sesión</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import {ROLES} from "../globals";
    import {EventBus} from "../EventBus";
    import AuthService from "../services/AuthService";
    import {mapState} from "vuex";

    export default {
        name: "NavbarComponent",
        data: () => ({
            drawer: null,
            items: [
                { icon: 'mdi-account-tie', text: 'Docentes', to:'/admin/docentes', roles: [ROLES.admin] },
                { icon: 'mdi-account-multiple', text: 'Estudiantes', to:'/admin/estudiantes', roles: [ROLES.admin] },
                { icon: 'mdi-book-variant-multiple', text: 'Asignaturas', to:'/admin/asignaturas', roles: [ROLES.admin] },
                { icon: 'mdi-bank', text: 'Salones', to:'/admin/salones', roles: [ROLES.admin] },
                { icon: 'mdi-calendar-month', text: 'Clases', to:'/admin/clases', roles: [ROLES.admin] },
                { icon: 'mdi-clock-time-four-outline', text: 'Eventos', to:'/admin/eventos', roles: [ROLES.admin] },
                { icon: 'mdi-cog', text: 'Configuración', to:'/admin/configuracion', roles: [ROLES.admin] },
                { icon: 'mdi-calendar-month', text: 'Mi Calendario', to:'/dashboard/clases', roles: [ROLES.docente, ROLES.estudiante] },
                { icon: 'mdi-book-variant-multiple', text: 'Mis Asignaturas', to:'/dashboard/asignaturas', roles: [ROLES.docente, ROLES.estudiante] },
                { icon: 'mdi-cog', text: 'Mi Cuenta', to:'/dashboard/perfil', roles: [ROLES.docente, ROLES.estudiante] },
            ],
        }),
        methods:{
            logout(){
                let vm = this;
                EventBus.$emit('warning-alert','¿Deseas cerrar sesión?', async function () {
                    try {
                        EventBus.$emit('loading');
                        await AuthService.logout();
                        localStorage.clear();
                        vm.$router.push({path:'/login'})
                    } catch (e) {
                        console.log(e)
                        EventBus.$emit('handle-error',e)
                    } finally {
                        EventBus.$emit('loading-close');
                    }
                })
            }
        },
        computed:{
            firstLetters(){
                let name = this.authUser.name;
                name = name.split(" ");
                if(name.length > 1){
                    return name[0].charAt(0)+name[1].charAt(0);
                }else{
                    return name[0].charAt(0);
                }
            },
            ...mapState(['logo_institucion'])
        }
    }
</script>
