<template>
    <div>
        <v-row>
            <v-col md="8" lg="6">
                <v-card>
                    <v-card-title>Cambiar contraseña</v-card-title>
                    <v-card-text>
                        <ValidationObserver ref="observer" @submit.prevent="cambiarPass" v-slot="{ validate, reset }">
                            <form>
                                <ValidationProvider v-slot="{ errors }" name="contraseña actual" rules="required">
                                    <v-text-field
                                        v-model="form.current_password"
                                        :error-messages="errors"
                                        type="password"
                                        label="Contraseña"
                                        class="my-5"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                                <ValidationProvider v-slot="{ errors }" name="contraseña nueva" rules="required" vid="password">
                                    <v-text-field
                                        v-model="form.password"
                                        :error-messages="errors"
                                        type="password"
                                        label="Contraseña nueva"
                                        class="my-5"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                                <ValidationProvider v-slot="{ errors }" name="confirmar contraseña" rules="required|confirmed:password">
                                    <v-text-field
                                        v-model="form.password_confirmation"
                                        :error-messages="errors"
                                        type="password"
                                        label="Confirmar Contraseña"
                                        class="my-5"
                                        required
                                    ></v-text-field>
                                </ValidationProvider>
                                <div class="d-flex justify-end">
                                    <v-btn color="accent" class="mr-4" type="submit">Guardar</v-btn>
                                </div>
                            </form>
                        </ValidationObserver>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import { EventBus } from "../../../EventBus";
    import UserService from "../../../services/UserService";
    import {ALERTS} from "../../../globals";
    export default {
        name: "Perfil",
        data(){
            return {
                form: {
                    password:"",
                    password_confirmation:"",
                    current_password:"",
                }
            }
        },
        mounted() {

        },
        methods: {
            async cambiarPass(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    try {
                        EventBus.$emit('loading');
                        await UserService.changePassword(this.authUser.id, this.form);
                        EventBus.$emit('loading-close');
                        EventBus.$emit('success-update-alert');
                        this.form = {
                            password:"",
                            password_confirmation:"",
                            current_password:"",
                        };
                        this.$refs.observer.reset();
                    } catch (error) {
                        EventBus.$emit('loading-close');
                        EventBus.$emit('handle-error', error);
                    }
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            }
        },
    }
</script>
