<template>
    <div>
        <v-dialog v-model="programarClase.modal" max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="text-h5">Reprogramar clase {{programarClase.asignatura.nombre}} | {{programarClase.clase.fecha}}</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <asignatura-programar-clase @closeModal="closeReprogramar" :asignatura="programarClase.asignatura" :clase="programarClase.clase" />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-model="addDescription.modal" max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="text-h5">Añadir descripción en {{addDescription.clase.asignatura.nombre}} | {{addDescription.clase.fecha}}</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <clase-form-add-description :description="addDescription.clase.description" @guardar="updateDescription" />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <h1 class="text-h5">Clases</h1>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="accent"
                            dark
                            class="mb-2"
                            @click="$router.push({name:'admin-clases-programar'})"
                        >
                            <v-icon class="mr-2">mdi-calendar</v-icon>
                            Programar Clases</v-btn>
                    </v-card-title>
                    <v-card-text>
                        <!--
                        <v-text-field
                            v-model="inputSearch"
                            append-icon="mdi-magnify"
                            label="Buscar clase"
                            single-line
                            class="mb-3"
                            @change="index"
                        ></v-text-field>
                        -->
                        <v-row>
                            <v-col cols="12" md="6" lg="4">
                                <v-text-field
                                    v-model="inputSearchAsignatura"
                                    prepend-inner-icon="mdi-book-variant-multiple"
                                    label="Buscar asignatura"
                                    single-line
                                    @change="index"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6" lg="4">
                                <v-text-field
                                    v-model="inputSearchFecha"
                                    prepend-inner-icon="mdi-calendar"
                                    label="Buscar fecha"
                                    single-line
                                    @change="index"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6" lg="4">
                                <v-text-field
                                    v-model="inputSearchSalon"
                                    prepend-inner-icon="mdi-bank"
                                    label="Buscar salón"
                                    single-line
                                    @change="index"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6" lg="4">
                                <v-text-field
                                    v-model="inputSearchDocente"
                                    prepend-inner-icon="mdi-account-tie"
                                    label="Buscar docente"
                                    single-line
                                    @change="index"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-data-table
                            :headers="fields"
                            :items="items"
                            :items-per-page="5"
                            :loading="isLoading"
                            :options.sync="options"
                            loading-text="Cargando"
                            :server-items-length="rows"
                            locale="es"
                        >
                            <template v-slot:item.aula="{ item }">
                                {{item.aula_id ? item.aula.nombre : 'Sin salón'}}
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="modalAddDescription(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-pencil
                                        </v-icon>
                                    </template>
                                    <span>Descripción</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="programarClaseAsignatura(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-calendar-sync
                                        </v-icon>
                                    </template>
                                    <span>Reprogramar</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            @click="cancelarClase(item.id)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-close
                                        </v-icon>
                                    </template>
                                    <span>Cancelar</span>
                                </v-tooltip>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import ClaseService from "../../../services/ClaseService";
    import AsignaturaProgramarClase from "../asignaturas/asignaturaProgramarClase";
    import ClaseFormAddDescription from "./claseFormAddDescription";
    export default {
        name:"Clases",
        components: {ClaseFormAddDescription, AsignaturaProgramarClase},
        mounted() {
            this.index()
        },
        data(){
            return {
                items: [],
                fields: [
                    {
                        text: 'Fecha',
                        value: 'fecha',
                        sortable: true
                    },
                    {
                        text: 'Código',
                        value: 'asignatura.codigo',
                        sortable: true
                    },
                    {
                        text: 'Asignatura',
                        value: 'asignatura.nombre',
                        sortable: true
                    },
                    {
                        text: 'Docente',
                        value: 'asignatura.docente.name',
                        sortable: true
                    },
                    {
                        text: 'Hora',
                        value: 'hora',
                        sortable: true
                    },
                    {
                        text: 'Hora fin',
                        value: 'hora_fin',
                        sortable: true
                    },
                    {
                        text: 'Salón',
                        value: 'aula',
                        sortable: true
                    },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ],
                options:{},
                filterText: '',
                currentPage: 1,
                rows: 1,
                perPage: 10,
                isModalOpen: false,
                isLoading: true,
                inputSearch:"",
                inputSearchAsignatura:"",
                inputSearchFecha:"",
                inputSearchSalon:"",
                inputSearchDocente:"",
                programarClase:{
                    modal:false,
                    asignatura:{},
                    clase:{}
                },
                addDescription:{
                    modal: false,
                    clase: {
                        asignatura: {}
                    }
                }
            }
        },
        methods:{
            index(){
                this.isLoading = true;
                let options = this.options;
                let query = "";
                let sort = options.sortBy.length > 0 ? '&order_by='+options.sortBy[0] : '&order_by=updated_at';
                let order = '&order='+(options.sortDesc[0] ? 'asc' : 'desc');
                let termino = '&termino='+this.inputSearch+'&search_asignatura='+this.inputSearchAsignatura
                    +'&search_fecha='+this.inputSearchFecha+'&search_aula='+this.inputSearchSalon
                    +'&search_docente='+this.inputSearchDocente;
                query = '?page='+options.page+'&per_page='+options.itemsPerPage+sort+order+termino;
                ClaseService.all(query).then((resp)=>{
                    this.items = resp.data.data.data;
                    console.log(this.items)
                    this.currentPage = resp.data.data.current_page;
                    this.rows = resp.data.data.total;
                    this.isLoading = false;
                }).catch((error)=>{
                    console.log(error)
                    this.isLoading = false;
                    EventBus.$emit('handle-error',error);
                })
            },
            programarClaseAsignatura(item){
                this.programarClase.asignatura = item.asignatura;
                this.programarClase.clase = item;
                this.programarClase.modal = true;
            },
            closeReprogramar(){
                this.programarClase.modal = false;
                this.programarClase.asignatura = {};
                this.programarClase.clase = {};
                this.index();
            },
            cancelarClase(id){
                let vm = this;
                EventBus.$emit('warning-alert','¿Deseas cancelar esta clase?', async function () {
                    try {
                        EventBus.$emit('loading');
                        await ClaseService.cancelarClase(id);
                        vm.index();
                        EventBus.$emit('success-alert','La clase fue cancelada');
                    } catch (e) {
                        console.log(e);
                        EventBus.$emit('handle-error',e)
                    } finally {
                        EventBus.$emit('loading-close');
                    }
                })
            },
            modalAddDescription(clase){
                this.addDescription.modal = true;
                this.addDescription.clase = clase;
            },
            async updateDescription(form){
                let vm = this;
                try {
                    EventBus.$emit('loading');
                    await ClaseService.updateDescription(this.addDescription.clase.id, form.description);
                    vm.index();
                    this.addDescription = {
                        modal: false,
                        clase: {
                            asignatura: {}
                        }
                    };
                    EventBus.$emit('success-alert','La clase fue actualizada');
                } catch (e) {
                    EventBus.$emit('handle-error',e)
                } finally {
                    EventBus.$emit('loading-close');
                }
            }
        },
        watch: {
            options: {
                handler () {
                    this.index()
                },
                deep: true,
            },
        },
    }
</script>
