<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <ValidationProvider rules="required" v-slot="{ errors }" name="description">
                <tiptap-vuetify
                    v-model="form.description"
                    :extensions="extensions"
                />
            </ValidationProvider>
            <div class="d-flex justify-end mt-4">
                <v-btn color="primary darken-1" v-if="!description" type="button" @click="clear" text>Limpiar</v-btn>
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify';

    export default {
        components: { TiptapVuetify },
        name: "claseFormAddDescription",

        props: {
            description:{
                required: true,
            }
        },

        watch: {
            description(){
                this.actualizarForm();
            }
        },

        data() {
            return {
                form:{
                    description:"",
                },
                extensions: [
                    History,
                    Blockquote,
                    Link,
                    Underline,
                    Strike,
                    Italic,
                    ListItem,
                    BulletList,
                    OrderedList,
                    [Heading, {
                        options: {
                            levels: [1, 2, 3]
                        }
                    }],
                    Bold,
                    Code,
                    HorizontalRule,
                    Paragraph,
                    HardBreak
                ],
            }
        },

        methods: {
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form);
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            actualizarForm(){
                if(this.$props.itemData !== null) {
                    this.form.description = this.$props.description;
                }else{
                    this.clear()
                }
            },
            clear(){
                this.form = {
                    description:"",
                };
            }
        },

        mounted() {
            this.actualizarForm();
        }
    }
</script>
