<template>
    <div>
        <h1 class="text-h5 mb-5 primary--text">
            <v-icon
                class="primary--text"
                @click="$router.back()"
            >
                mdi-arrow-left
            </v-icon>
            Clases | <strong>Programar clases</strong>
        </h1>
        <v-stepper
            v-model="step"
            vertical
        >
            <!-- PASO 1 -->

            <v-stepper-step
                step="1"
                :complete="step > 1"
            >
                Elegir fecha
                <small v-if="step > 1" class="mt-2">{{form.fecha}}</small>
            </v-stepper-step>

            <v-stepper-content step="1">
                <v-menu
                    v-model="menuFecha"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <ValidationObserver ref="formFecha" tag="form">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="fecha">
                                <v-text-field
                                    v-model="form.fecha"
                                    label="Fecha"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                    :error-messages="errors"
                                ></v-text-field>
                            </ValidationProvider>
                        </ValidationObserver>
                    </template>
                    <v-date-picker
                        no-title
                        v-model="form.fecha"
                        @input="menuFecha = false"
                    ></v-date-picker>
                </v-menu>
                <v-btn
                    color="primary"
                    class="mt-4"
                    @click="validateAndStep($refs.formFecha.validate(), 2)"
                >
                    Continuar
                </v-btn>
            </v-stepper-content>

            <!-- PASO 2 -->

            <v-stepper-step
                step="2"
                :complete="step > 2"
            >
                Cantidad de franjas horarias
                <small v-if="step > 2" class="mt-2">{{cantidadFranjas}}</small>
            </v-stepper-step>

            <v-stepper-content step="2">
                <ValidationObserver ref="formFranjas" tag="form">
                    <ValidationProvider rules="required|numeric|min:1" v-slot="{ errors }" name="cantidad">
                        <v-text-field
                            v-model="cantidadFranjas"
                            label="Cantidad"
                            :error-messages="errors"
                        ></v-text-field>
                    </ValidationProvider>
                </ValidationObserver>
                <v-btn
                    class="mt-4"
                    color="primary"
                    @click="stepFranjas"
                >
                    Continuar
                </v-btn>
                <v-btn class="mt-4" @click="step = 1" text>
                    Volver
                </v-btn>
            </v-stepper-content>

            <!-- PASO 3 -->

            <v-stepper-step
                step="3"
                :complete="step > 3"
            >
                Elegir horas
            </v-stepper-step>

            <v-stepper-content step="3">
                <ValidationObserver ref="formHoras" tag="form">
                    <v-menu
                        v-for="(horarios,idx) in form.horarios"
                        :key="idx"
                        :ref="'menuHora'+idx"
                        v-model="form.horarios[idx].menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on, attrs, value }">
                            <v-row>
                                <v-col>
                                    <ValidationProvider rules="required" v-slot="{ errors }" :name="'hora inicio '+(idx+1)">
                                        <v-text-field
                                            v-model="form.horarios[idx].hora"
                                            label="Hora inicio"
                                            readonly
                                            :error-messages="errors"
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </ValidationProvider>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                        label="Hora fin"
                                        v-model="form.horarios[idx].hora_fin"
                                        disabled
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </template>
                        <v-time-picker
                            v-if="form.horarios[idx].menu"
                            v-model="form.horarios[idx].hora"
                            full-width
                        >
                            <slot name="default">
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="accent"
                                    @click="changeHoraFin(idx)"
                                >
                                    Guardar
                                </v-btn>
                            </slot>
                        </v-time-picker>
                    </v-menu>
                </ValidationObserver>
                <v-btn
                    color="primary"
                    class="mt-4"
                    @click="validateAndStep($refs.formHoras.validate(), 4)"
                >
                    Continuar
                </v-btn>
                <v-btn class="mt-4" @click="step = 2" text>
                    Volver
                </v-btn>
            </v-stepper-content>

            <!-- PASO 4 -->

            <v-stepper-step
                step="4"
            >
                Elegir asignaturas
            </v-stepper-step>

            <v-stepper-content step="4">
                <ValidationObserver ref="formAsignaturas" tag="form">
                    <v-checkbox class="mr-2"  v-model="subirArchivoAsignaturas" label="Subir archivo de asignaturas" :value="true"></v-checkbox>
                    <div v-if="subirArchivoAsignaturas">
                        <ValidationProvider v-slot="{ errors }" name="archivo" rules="required">
                            <v-file-input
                                label="Archivo"
                                v-model="form.asignaturas_file"
                                :error-messages="errors"
                                required
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </v-file-input>
                        </ValidationProvider>
                    </div>
                    <div v-if="!subirArchivoAsignaturas">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="asignaturas">
                            <v-autocomplete
                                v-model="form.asignaturas"
                                :items="asignaturas"
                                item-text="nombre"
                                item-value="id"
                                label="Asignaturas"
                                :error-messages="errors"
                                :filter="customFilterAsignaturas"
                                multiple
                                chips
                            ></v-autocomplete>
                        </ValidationProvider>
                    </div>
                </ValidationObserver>
                <v-btn
                    color="primary"
                    class="mt-4"
                    @click="submitData"
                >
                    Enviar
                </v-btn>
                <v-btn class="mt-4" @click="step = 3" text>
                    Volver
                </v-btn>
            </v-stepper-content>
        </v-stepper>
        <div id="div-response" class="mt-5">
            <div v-show="showResponse">
                <p>Se programaron {{response.clasesProgramadas}} clases</p>
                <clase-error-table title="Asignaturas que no tienen docente asignado" :asignaturas="response.asignaturasNoHayDocente"  />
                <div class="mb-4"></div>
                <clase-error-table title="Asignaturas descartadas por cruces" :asignaturas="response.asignaturasDescartadasPorCruces" />
                <div class="mb-4"></div>
                <clase-error-table title="Asignaturas descartadas porque el docente no tiene más espacios" :asignaturas="response.asignaturasDocenteNoDisponible" />
            </div>
        </div>
    </div>
</template>

<script>
    import  { EventBus } from "../../../EventBus";
    import {mapState} from "vuex";
    import AsignaturaService from "../../../services/AsignaturaService";
    import ClaseService from "../../../services/ClaseService";
    import ClaseErrorTable from "./claseErrorTable";

    export default {
        name: "ClaseFormCreate",
        components: {ClaseErrorTable},
        data(){
            return {
                step: 1,
                menuFecha: false,
                menuHoras: false,
                cantidadFranjas: 1,
                subirArchivoAsignaturas: false,
                form:{
                    fecha:"",
                    horarios:[],
                    asignaturas:[],
                    asignaturas_file:null
                },
                asignaturas:[],
                response:{
                    asignaturasDescartadasPorCruces: [],
                    asignaturasDocenteNoDisponible: [],
                    asignaturasNoHayDocente: [],
                    clasesProgramadas: 0
                },
                showResponse: false
            }
        },
        mounted() {
            this.getInfo();
            console.log(this.$moment("18:00:00","hh:mm:ss").add(2,'hours').hours())
            console.log(this.duracion_clase)
            let vm = this;
            setTimeout(function(){
                console.log(vm.$moment("18:00:00","HH:mm").add(vm.duracion_clase,'hours').format("HH:mm"))
                console.log(vm.duracion_clase)
            }, 1000)
        },
        methods:{
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    let resp = await AsignaturaService.all('?per_page=-1');
                    this.asignaturas = resp.data.data.data;
                    console.log(resp)
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }
            },
            async validateAndStep(validator, step){
                let pasoValidacion = await validator;
                if(pasoValidacion){
                    this.step = step;
                }
            },
            changeHoraFin(idx){
                this.form.horarios[idx].menu = false;
                if(!this.checkHorarioSeCruza(idx)) {
                    let hora = this.form.horarios[idx].hora;
                    hora = this.$moment(hora, "HH:mm").add(this.duracion_clase, 'hours').format("HH:mm");
                    this.form.horarios[idx].hora_fin = hora
                }else{
                    EventBus.$emit('error-alert','No puedes elegir franjas horarias que se cruzan entre ellas');
                    this.form.horarios[idx].hora = "";
                    this.form.horarios[idx].hora_fin = "";
                }
            },
            checkHorarioSeCruza(idx){
                let horaInicio = this.form.horarios[idx].hora;
                let horaFin = this.$moment(horaInicio, "HH:mm").add(this.duracion_clase, 'hours').format("HHmm");
                let horariosCreados = this.form.horarios;
                for(let i = 0; i<horariosCreados.length; i++){
                    if(i !== idx) {
                        if (this.formatHour(horariosCreados[i].hora) <= this.formatHour(horaInicio)) {
                            if (this.formatHour(horariosCreados[i].hora_fin) > this.formatHour(horaInicio)) {
                                return true;
                            }
                        } else if (this.formatHour(horariosCreados[i].hora_fin) >= this.formatHour(horaFin)) {
                            if (this.formatHour(horariosCreados[i].hora) < this.formatHour(horaFin)) {
                                return true;
                            }
                        }
                    }
                }
                return false;
            },
            formatHour(h){
                return h.replace(":","")
            },
            stepFranjas(){
                this.form.horarios = [];
                for (let i = 0; i<this.cantidadFranjas; i++){
                    this.form.horarios.push({hora:"", hora_fin:"", menu: false})
                }
                this.validateAndStep(this.$refs.formFranjas.validate(), 3)
            },
            async submitData(){
                let pasoValidacion = await this.$refs.formAsignaturas.validate();
                if(pasoValidacion){
                    EventBus.$emit('loading');
                    try{
                        let data = this.form;
                        if(this.subirArchivoAsignaturas){
                            data = new FormData();
                            data.append('asignaturas_file',this.form.asignaturas_file);
                            data.append('asignaturas',this.form.asignaturas);
                            data.append('horarios',JSON.stringify(this.form.horarios));
                            data.append('fecha',this.form.fecha);
                        }else{
                            data.horarios = JSON.stringify(data.horarios)
                        }
                        let resp = await ClaseService.programar(data, this.subirArchivoAsignaturas);
                        this.response = resp.data.data;
                        this.showResponse = true;
                        document.querySelector('#div-response').scrollIntoView({
                            behavior: 'smooth'
                        });
                        console.log(resp);
                        EventBus.$emit('loading-close');
                        EventBus.$emit('success-create-alert');
                    }catch (e) {
                        console.log(e);
                        console.log(e.response);
                        EventBus.$emit('loading-close');
                        EventBus.$emit('handle-error',e);
                    }
                }
            },
            customFilterAsignaturas(item, queryText) {
                const textOne = item.nombre.toLowerCase();
                const textTwo = item.codigo.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
        },
        computed:{
            ...mapState(['duracion_clase'])
        }
    }
</script>
