<template>
    <div>
        <v-card>
            <v-card-title class="red lighten-2 white--text">
                <v-icon class="mr-3 white--text">mdi-alert-circle-outline</v-icon> {{$props.title}} ({{$props.asignaturas.length}})
            </v-card-title>
            <v-card-text v-if="$props.asignaturas.length > 0">
                <v-simple-table
                    dense
                    fixed-header
                    max-height="400"
                >
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-left">Código</th>
                            <th class="text-left">Asignatura</th>
                            <th class="text-left">Docente</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(asignatura,idx) in asignaturas" :key="idx">
                            <td>{{ idx }}</td>
                            <td>{{ asignatura.codigo }}</td>
                            <td>{{ asignatura.nombre }}</td>
                            <td>{{ asignatura.docente_id ? asignatura.docente.name : 'Sin docente' }}</td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "ClaseErrorTable",
        components: {},
        data(){
            return {

            }
        },
        mounted() {

        },
        methods:{

        },
        computed:{

        },
        props:['asignaturas','title']
    }
</script>
