<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                <v-text-field :error-messages="errors" v-model="form.nombre" class="form-control mb-4" label="Nombre"></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required" v-slot="{ errors }" name="código">
                <v-text-field :error-messages="errors" v-model="form.codigo" class="form-control mb-4" label="Código"></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required" v-slot="{ errors }" name="docente">
                <v-autocomplete
                    class="mb-4"
                    v-model="form.docente_id"
                    :items="docentes"
                    item-text="name"
                    item-value="id"
                    label="Docente"
                    :filter="customFilter"
                    :error-messages="errors"
                ></v-autocomplete>
            </ValidationProvider>
            <ValidationProvider rules="" v-slot="{ errors }" name="estudiantes">
                <v-autocomplete
                    class="mb-4"
                    v-model="form.estudiantes"
                    :items="estudiantes"
                    item-text="name"
                    item-value="id"
                    label="Estudiantes"
                    :error-messages="errors"
                    :filter="customFilter"
                    multiple
                    chips
                ></v-autocomplete>
            </ValidationProvider>
            <div class="d-flex justify-end">
                <v-btn color="primary darken-1" v-if="!itemData" type="button" @click="clear" text>Limpiar</v-btn>
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import DocentesService from "../../../services/DocentesService";
    import EstudiantesService from "../../../services/EstudiantesService";

    export default {
        name: "AsignaturaForm",

        props: {
            itemData:{
                required: true,
            }
        },

        watch: {
            itemData(){
                this.actualizarForm();
                this.getInfo();
            }
        },

        data() {
            return {
                form:{
                    nombre:"",
                    codigo:"",
                    docente_id:"",
                    estudiantes:[]
                },
                docentes:[],
                estudiantes:[]
            }
        },

        methods: {
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    this.docentes = (await DocentesService.all('?no_pagination')).data.data;
                    this.estudiantes = (await EstudiantesService.all('?no_pagination')).data.data;
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }

            },
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form);
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            actualizarForm(){
                if(this.$props.itemData !== null) {
                    this.form = this.$props.itemData;
                    this.form.estudiantes = this.form.estudiantes.map(item => {
                        return item.id;
                    })
                    console.log(this.form.estudiantes)
                }else{
                    this.clear()
                }
            },
            customFilter (item, queryText) {
                const textOne = item.name.toLowerCase();
                const textTwo = item.identificacion.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
            clear(){
                this.form = {
                    nombre:"",
                    codigo:"",
                    docente_id:"",
                    estudiantes:[]
                };
                this.$refs.observer.reset()
            }
        },

        mounted() {
            this.getInfo();
            this.actualizarForm();
        }
    }
</script>
