<template>
    <div>
        <v-dialog v-model="programarClase.modal" max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="text-h5">Programar clase {{programarClase.asignatura.nombre}}</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <asignatura-programar-clase @closeModal="closeProgramarClase" :asignatura="programarClase.asignatura" />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <h1 class="text-h5">Asignaturas</h1>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="isModalOpen" max-width="600px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    color="accent"
                                    dark
                                    class="mb-2"
                                    @click="mostrarFormAgregar"
                                >+ Agregar Asignatura</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">{{accion}} Asignatura</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <asignatura-form @guardar="(item)=>{handleSubmit(item)}" :item-data="editarRegistro" />
                                    </v-container>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                            v-model="inputSearch"
                            append-icon="mdi-magnify"
                            label="Buscar asignatura"
                            single-line
                            class="mb-3"
                            @change="index"
                        ></v-text-field>
                        <v-data-table
                            :headers="fields"
                            :items="items"
                            :items-per-page="5"
                            :loading="isLoading"
                            :options.sync="options"
                            loading-text="Cargando"
                            :server-items-length="rows"
                            locale="es"
                        >
                            <template v-slot:item.nombre="{ item }">
                                <a href="javascript:void(0)" @click="$router.push({name: 'admin-asignaturas-show', params:{id: item.id}})">{{item.nombre}}</a>
                            </template>
                            <template v-slot:item.docente="{ item }">
                                <a v-if="item.docente_id" href="javascript:void(0)" @click="$router.push({name: 'admin-docentes-show', params:{id: item.docente_id}})">{{item.docente.name}}</a>
                                <p v-if="!item.docente_id">-</p>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="programarClaseAsignatura(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-calendar
                                        </v-icon>
                                    </template>
                                    <span>Programar clase</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="mostrarFormEditar(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-pencil
                                        </v-icon>
                                    </template>
                                    <span>Editar</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            @click="deleteItem(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-delete
                                        </v-icon>
                                    </template>
                                    <span>Eliminar</span>
                                </v-tooltip>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import UserForm from "../../../components/UserForm";
    import AsignaturaService from "../../../services/AsignaturaService";
    import AsignaturaForm from "./asignaturaForm";
    import AsignaturaProgramarClase from "./asignaturaProgramarClase";

    export default {
        name:"Asignaturas",
        components: {AsignaturaProgramarClase, AsignaturaForm, UserForm},
        mounted() {
            this.index()
        },
        data(){
            return {
                items: [],
                fields: [
                    {
                        text: 'Código',
                        value: 'codigo',
                        sortable: true
                    },
                    {
                        text: 'Nombre',
                        value: 'nombre',
                        sortable: true
                    },
                    {
                        text: 'Docente',
                        value: 'docente',
                        sortable: true
                    },
                    {
                        text: '# Estudiantes',
                        value: 'estudiantes_count',
                    },
                    {
                        text: '# Clases',
                        value: 'clases_count',
                    },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ],
                options:{},
                filterText: '',
                currentPage: 1,
                rows: 1,
                perPage: 10,
                isModalOpen: false,
                accion:'Agregar',
                editarRegistro: null,
                isLoading: true,
                inputSearch:"",
                programarClase:{
                    modal:false,
                    asignatura:{}
                }
            }
        },
        methods:{
            index(){
                this.isLoading = true;
                let options = this.options;
                let query = "";
                let sort = options.sortBy.length > 0 ? '&order_by='+options.sortBy[0] : '&order_by=updated_at';
                let order = '&order='+(options.sortDesc[0] ? 'asc' : 'desc');
                let termino = '&termino='+this.inputSearch;
                query = '?page='+options.page+'&per_page='+options.itemsPerPage+sort+order+termino;
                AsignaturaService.all(query).then((resp)=>{
                    this.items = resp.data.data.data;
                    this.currentPage = resp.data.data.current_page;
                    this.rows = resp.data.data.total;
                }).catch((error)=>{
                    EventBus.$emit('handle-error',error);
                }).finally(()=>{
                    this.isLoading = false;
                })
            },
            mostrarFormAgregar(){
                this.accion = 'Agregar';
                this.isModalOpen = true;
                this.editarRegistro = null;
            },
            mostrarFormEditar(item){
                this.accion = 'Editar';
                this.isModalOpen = true;
                this.editarRegistro = item;
            },
            handleSubmit(data){
                EventBus.$emit('loading');
                if(this.accion === 'Agregar'){
                    this.guardarRegistro(data)
                }else{
                    this.actualizarRegistro(data)
                }
            },
            async guardarRegistro(data){
                try{
                    await AsignaturaService.store(data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    EventBus.$emit('success-create-alert');
                    this.index();
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async actualizarRegistro(data){
                try{
                    await AsignaturaService.update(data.id,data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    EventBus.$emit('success-update-alert');
                    this.index();
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async deleteItem(item){
                let vm = this;
                EventBus.$emit('warning-alert', ALERTS.warning.delete, async function () {
                    try{
                        vm.isLoading = true;
                        await AsignaturaService.delete(item.id);
                        vm.isLoading = false;
                        EventBus.$emit('success-update-alert');
                        vm.index();
                    }catch(error){
                        vm.isLoading = false;
                        EventBus.$emit('handle-error',error);
                    }
                });
            },
            programarClaseAsignatura(item){
                this.programarClase.asignatura = null;
                this.programarClase.asignatura = item;
                this.programarClase.modal = true;
            },
            closeProgramarClase(){
                this.programarClase.modal = false;
                this.programarClase.asignatura = {};
                this.index();
            }
        },
        watch: {
            options: {
                handler () {
                    this.index()
                },
                deep: true,
            },
        },
    }
</script>
