<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <v-menu
                v-model="menuFecha"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="fecha">
                        <v-text-field
                            v-model="form.fecha"
                            label="Fecha"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :error-messages="errors"
                        ></v-text-field>
                    </ValidationProvider>
                </template>
                <v-date-picker
                    no-title
                    v-model="form.fecha"
                    @input="sugerirHoras"
                ></v-date-picker>
            </v-menu>
            <ValidationProvider v-if="horariosSugeridos.length > 0" rules="required" v-slot="{ errors }" name="hora">
                <v-select
                    v-model="form.hora"
                    :hint="`${form.hora.hora} - ${form.hora.hora_fin}`"
                    :items="horariosSugeridos"
                    item-text="hora"
                    item-value="hora"
                    label="Hora"
                    prepend-icon="mdi-clock"
                    persistent-hint
                    return-object
                    single-line
                    @change="sugerirSalones"
                ></v-select>
            </ValidationProvider>
            <p v-if="form.fecha && horariosSugeridos.length === 0" class="mt-4">No hay horarios disponibles para esta fecha</p>
            <ValidationProvider v-if="salonesSugeridos.length > 0" rules="required" v-slot="{ errors }" name="salón">
                <v-select
                    v-model="form.aula"
                    :items="salonesSugeridos"
                    item-text="nombre"
                    item-value="id"
                    label="Salón"
                    prepend-icon="mdi-home-variant"
                    single-line
                ></v-select>
            </ValidationProvider>
            <p class="mt-4" v-if="form.fecha && form.hora.hora && salonesSugeridos.length === 0">No hay salones disponibles para el horario escogido</p>
            <div class="d-flex justify-end" v-if="this.form.hora.hora && this.form.aula">
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import ClaseService from "../../../services/ClaseService";

    export default {
        name: "asignaturaProgramarClase",

        props: {
            asignatura:{
                required: true,
            },
            clase:{
                required: false,
            },
        },

        watch: {
            asignatura(){
                this.clearData()
            },
            clase(){
                this.infoClase()
            }
        },

        data() {
            return {
                form:{
                    fecha:"",
                    asignatura:this.$props.asignatura.id,
                    hora:{hora:"",hora_fin:""},
                    aula:""
                },
                menuFecha: false,
                horariosSugeridos: [],
                salonesSugeridos: []
            }
        },

        methods: {
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading');
                    try{
                        let claseId = this.$props.clase ? this.$props.clase.id : '';
                        await ClaseService.programarClaseIndividual(this.form, claseId);
                        EventBus.$emit('success-create-alert');
                        EventBus.$emit('loading-close');
                        this.form = {
                            fecha:"",
                            asignatura:this.$props.asignatura.id,
                            hora:{hora:"",hora_fin:""},
                            aula:""
                        };
                        this.form.horariosSugeridos = [];
                        this.form.salonesSugeridos = [];
                        this.$emit('closeModal')
                    }catch(error){
                        EventBus.$emit('loading-close');
                        EventBus.$emit('handle-error',error);
                    }
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            async sugerirHoras(){
                this.menuFecha = false;
                this.horariosSugeridos = [];
                this.hora = {hora:"",hora_fin:""};
                this.salonesSugeridos = [];
                this.form.aula = "";
                EventBus.$emit('loading');
                try{
                    let claseId = this.$props.clase ? this.$props.clase.id : '';
                    let resp = await ClaseService.sugerirHorasAsignatura(this.form, claseId);
                    this.horariosSugeridos = resp.data.data;
                    EventBus.$emit('loading-close');
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async sugerirSalones(){
                this.salonesSugeridos = [];
                this.form.aula = "";
                EventBus.$emit('loading');
                try{
                    let claseId = this.$props.clase ? this.$props.clase.id : '';
                    let resp = await ClaseService.sugerirSalones(this.form, claseId);
                    this.salonesSugeridos = resp.data.data;
                    EventBus.$emit('loading-close');
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async infoClase(){
                await this.clearData();
                if(this.$props.clase){
                    let clase = this.$props.clase;
                    let hora = clase.hora.split(":")[0]+":00";
                    this.form.fecha = clase.fecha;
                    await this.sugerirHoras();
                    let horario = this.horariosSugeridos.find(item=>{
                        return item.hora === hora;
                    });
                    if(horario){
                        this.form.hora = horario;
                    }
                    await this.sugerirSalones();
                    let aula = this.salonesSugeridos.find(item=>{
                        return item.id === this.$props.clase.aula_id;
                    });
                    if(aula){
                        this.form.aula = aula.id;
                    }

                }
            },
            clearData(){
                this.form = {
                    fecha:"",
                    asignatura:this.$props.asignatura.id,
                    hora:{hora:"",hora_fin:""},
                    aula:""
                };
                this.menuFecha = false;
                this.horariosSugeridos = [];
                this.salonesSugeridos = [];
                this.$refs.observer.reset()
            }
        },
        mounted(){
            this.infoClase()
        }
    }
</script>
