// Fonts
@import "~@mdi/font/css/materialdesignicons.min.css";

// Variables
@import 'variables';


@import url('https://fonts.googleapis.com/css? family=Poppins:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css? family=Comfortaa&display=swap');

$body-font-family: 'Poppins';
$title-font: 'Poppins';
.v-application{
    font-family: 'Poppins',sans-serif !important;
}
$headings:"h1","h2","h3","h4","h5","h6";
$sizes: "xs","sm","md","lg","xl";
@each $heading in $headings {
    body .v-application .text-#{$heading} {
        font-family: 'Poppins',sans-serif !important;
    }
    @each $size in $sizes {
        body .v-application .text-#{$size}-#{$heading} {
            font-family: 'Poppins',sans-serif !important;
        }
    }
}
button{
    font-weight: 700 !important;
}

