<template>
    <div>
        <calendar-component :clases="clases" />
    </div>
</template>

<script>
    import UserService from "../../../services/UserService";
    import { EventBus } from "../../../EventBus";
    import CalendarComponent from "../../../components/CalendarComponent";

    export default {
        name: "Clases",
        components: {CalendarComponent},
        data: () => ({
            clases:[]
        }),
        mounted () {
            this.getClases()
        },
        methods: {
            async getClases(){
                try{
                    EventBus.$emit('loading');
                    let info = await UserService.misClases(this.authUser.id);
                    this.clases = info.data.data;
                    console.log(info);
                    EventBus.$emit('loading-close');
                }catch(error){
                    console.log(error);
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            }
        },
        computed:{

        }
    }
</script>
