<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <img v-if="logoHelper && !form.borrar_logo" style="width: 100%" :src="'/storage/'+logoHelper" alt="">
            <ValidationProvider rules="required" v-slot="{ errors }" name="duración de la clase">
                <v-text-field
                    :error-messages="errors"
                    v-model="form.duracion_clase"
                    class="form-control"
                    prepend-icon="mdi-clock"
                    label="Duración de la clase (horas)">
                </v-text-field>
            </ValidationProvider>
            <ValidationProvider v-if="!form.borrar_logo" v-slot="{ errors }" name="logo" rules="image">
                <v-file-input
                    label="Logo"
                    v-model="form.logo_institucion"
                    :error-messages="errors"
                    required
                    accept="image/*">
                </v-file-input>
            </ValidationProvider>
            <v-checkbox class="mr-2"  v-model="form.borrar_logo" label="Sin logo" :value="true"></v-checkbox>
            <div class="d-flex justify-end">
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import {mapState} from "vuex";

    export default {
        name: "ConfiguracionForm",

        props: {

        },

        watch: {
            duracion_clase(){
                this.updateState()
            },
            logo_institucion(){
                this.updateState()
            },
        },

        data() {
            return {
                form:{
                    duracion_clase: this.duracion_clase,
                    logo_institucion: null,
                    borrar_logo: false
                },
                logoHelper: this.logo_institucion,
            }
        },

        methods: {
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    let resp = await AsignaturaService.all('?per_page=-1');
                    this.asignaturas = resp.data.data;
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }
            },
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form);
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            clear(){
                this.form = {
                    identificacion:"",
                    name:"",
                    email:""
                };
                this.$refs.observer.reset()
            },
            updateState(){
                this.form.duracion_clase = this.duracion_clase;
                if(this.logo_institucion){
                    this.logoHelper = this.logo_institucion;
                }else{
                    this.form.borrar_logo = true;
                }

                console.log(this.duracion_clase)
            }
        },

        mounted() {
            setTimeout(this.updateState, 1000);
        },

        computed:{
            ...mapState(['duracion_clase','logo_institucion'])
        }
    }
</script>
