<template>
    <div>
        <v-dialog
            v-model="dialog"
            width="700"
        >
            <v-card>
                <v-card-title class="red lighten-2 white--text">
                    <v-icon class="mr-3 white--text">mdi-alert-circle-outline</v-icon> Errores ({{fileErrors.length}})
                </v-card-title>
                <v-card-text>
                    <v-simple-table
                        dense
                        fixed-header
                        height="300"
                    >
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-left">Fila</th>
                                <th class="text-left">Columna</th>
                                <th class="text-left">Error</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(error,idx) in fileErrors" :key="idx">
                                <td>{{ idx }}</td>
                                <td>{{ error.fila }}</td>
                                <td>{{ error.columna }}</td>
                                <td>{{ error.error }}</td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
            </v-card>
        </v-dialog>
        <h1 class="text-h5 mb-4">Configuración</h1>
        <v-divider></v-divider>
        <v-row>
            <v-col md="8" lg="6">
                <v-card :loading="isLoading">
                    <v-card-title>Cargar datos</v-card-title>
                    <v-card-text>
                        <p>En este espacio puedes agregar un arhivo de excel para cargar los datos de los estudiantes y las asignaturas matriculadas</p>
                        <v-simple-table
                            dense
                            height="300"
                        >
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th class="text-left">Columna</th>
                                    <th class="text-left">Datos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>CEDULA_ESTUDIANTE</td>
                                    <td>Cédula del estudiante</td>
                                </tr>
                                <tr>
                                    <td>NOM_TERCERO</td>
                                    <td>Nombre del estudiante</td>
                                </tr>
                                <tr>
                                    <td>SEG_NOMBRE</td>
                                    <td>Segundo nombre del estudiante (opcional)</td>
                                </tr>
                                <tr>
                                    <td>PRI_APELLIDO</td>
                                    <td>Primer apellido del estudiante</td>
                                </tr>
                                <tr>
                                    <td>SEG_APELLIDO</td>
                                    <td>Segundo apellido del estudiante (opcional)</td>
                                </tr>
                                <tr>
                                    <td>MAIL</td>
                                    <td>Correo del estudiante</td>
                                </tr>
                                <tr>
                                    <td>NOM_MATERIA</td>
                                    <td>Nombre de la asignatura</td>
                                </tr>
                                <tr>
                                    <td>COD_AGRUPADO</td>
                                    <td>Código asignatura</td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                        <ValidationObserver ref="observer" @submit.prevent="cargarData" v-slot="{ validate, reset }">
                            <form>
                                <ValidationProvider v-slot="{ errors }" name="archivo" rules="required">
                                    <v-file-input
                                        label="Archivo"
                                        v-model="form.file"
                                        :error-messages="errors"
                                        required
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    </v-file-input>
                                </ValidationProvider>
                                <div class="d-flex justify-end">
                                    <v-btn color="accent" class="mr-4" type="submit">Enviar</v-btn>
                                </div>
                            </form>
                        </ValidationObserver>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="8" lg="6">
                <v-card :loading="isLoadingGeneral">
                    <v-card-title>General</v-card-title>
                    <v-card-text>
                        <configuracion-form @guardar="(data)=>{updateParameters(data)}" />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {ALERTS} from "../../../globals";
    import {EventBus} from "../../../EventBus";
    import GeneralService from "../../../services/GeneralService";
    import ConfiguracionForm from "./configuracionForm";

    export default {
        name:"Configuracion",
        components: {ConfiguracionForm},
        data(){
            return {
                form:{
                    file:[]
                },
                isLoading: false,
                isLoadingGeneral: false,
                dialog: false,
                fileErrors:[]
            }
        },
        methods:{
            async cargarData(){
                this.fileErrors = [];
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.isLoading = true;
                    try{
                        let formData = new FormData();
                        formData.append('file',this.form.file);
                        await GeneralService.loadData(formData);
                        this.isLoading = false;
                        EventBus.$emit('success-alert','Los datos fueron cargados correctamente',true);
                    }catch (e) {
                        this.isLoading = false;
                        if(e.response.data.error === 'Hay errores en el archivo'){
                            this.fileErrors = e.response.data.data;
                            this.dialog = true;
                        }
                        EventBus.$emit('handle-error',e, true);
                    }
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            async updateParameters(data){
                try{
                    this.isLoadingGeneral = true;
                    let formData = new FormData();
                    formData.append('duracion_clase',data.duracion_clase);
                    if(data.borrar_logo){
                        formData.append('borrar_logo',true);
                    }else{
                        formData.append('logo_institucion',data.logo_institucion);
                    }
                    await GeneralService.updateParameters(formData);
                    this.isLoadingGeneral = false;
                    EventBus.$emit('success-alert','Los datos fueron cargados correctamente');
                    window.location.reload()
                }catch (e) {
                    this.isLoadingGeneral = false;
                    EventBus.$emit('handle-error',e);
                }
            },
        }
    }
</script>
