<template>
    <div>
        <Loading :active.sync="isBusy"
                 :can-cancel="false"
                 :is-full-page="true" color="#005D9C" loader="dots"></Loading>
        <navbar-component />
        <v-main>
            <v-container class="pa-3 pa-sm-10 mb-16" style="min-height: 80vh">
                <transition name="slide-fade"
                            mode="out-in">
                    <router-view></router-view>
                </transition>
                <v-footer
                    class="font-weight-medium"
                    absolute
                >
                    <v-col
                        class="text-center grey--text caption"
                        cols="12"
                    >
                        Desarrollado con ❤️ por <a target="_blank" href="https://www.linkedin.com/in/luisa-mar%C3%ADa-alzate-parrado-89a88a17a/">Luisa María Alzate</a> - {{ new Date().getFullYear() }} © Derechos Reservados.
                        <!--
                        <v-tooltip max-width="200" top>
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs"
                                      v-on="on">Col 3:23</span>
                            </template>
                            <span>
                                "Cuando hagan cualquier trabajo, háganlo de todo corazón, como si estuvieran trabajando para el Señor y no para los seres humanos"
                            </span>
                        </v-tooltip>
                        -->
                    </v-col>
                </v-footer>
            </v-container>
        </v-main>
    </div>
</template>

<script>
    import {EventBus} from "../EventBus";
    import NavbarComponent from "../layout/NavbarComponent";
    export default {
        components: {NavbarComponent},
        data(){
            return {
                isBusy: false,
            }
        },
        mounted() {
            EventBus.$on('loading', ()=>{this.isBusy = true});
            EventBus.$on('loading-close', ()=>{this.isBusy = false});
        },
    }
</script>

<style scoped>
    .slide-fade-enter-active {
        transition: all 1s ease;
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateY(-20px);
        opacity: 0;
    }
</style>
