<template>
    <v-main class="primary">
        <v-container
            class="fill-height"
            fluid
        >
            <img src="/img/fondo3.svg"  style="position: fixed; top: -12vw; left: -150px; right: 100px; width: 1200px; opacity: .1" alt="" width="100vw">
            <img src="/img/fondo3.svg"  style="position: fixed; top: -16vw; left: -200px; right: 100px; width: 1200px; opacity: .1" alt="" width="100vw">
            <v-row
                align="center"
                justify="center"
                class="pb-10"
            >
                <v-col sm="8" md="6" :lg="logo_institucion?'6':'4'">
                    <div class="d-flex justify-center align-center mb-4" style="z-index:10">
                        <img width="250px" src="/img/logo-skedul.png" alt="escudo usta">
                    </div>
                    <v-card :loading="isLoading" class="mb-10">
                        <v-card-text>
                            <v-row>
                                <v-col id="img-logo" v-if="logo_institucion" cols="12" md="6" class="d-flex align-center justify-center">
                                    <img style="width: 80%" :src="'/storage/'+logo_institucion" alt="">
                                </v-col>
                                <v-col cols="12" :md="logo_institucion?'6':'12'">
                                    <v-divider v-if="logo_institucion" class="d-md-none" />
                                    <h2 :class="'black--text mb-10 '+(logo_institucion?'mt-10':'mt-0')">Iniciar Sesión</h2>
                                    <ValidationObserver ref="observer" @submit.prevent="login" v-slot="{ validate, reset }">
                                        <form>
                                            <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
                                                <v-text-field
                                                    v-model="form.email"
                                                    :error-messages="errors"
                                                    label="E-mail"
                                                    class="my-5"
                                                    required
                                                ></v-text-field>
                                            </ValidationProvider>
                                            <ValidationProvider v-slot="{ errors }" name="contraseña" rules="required">
                                                <v-text-field
                                                    v-model="form.password"
                                                    :error-messages="errors"
                                                    type="password"
                                                    label="Contraseña"
                                                    class="my-5"
                                                    required
                                                ></v-text-field>
                                            </ValidationProvider>
                                            <div class="d-flex justify-end">
                                                <v-btn color="accent" class="mr-4" type="submit">Ingresar</v-btn>
                                            </div>
                                        </form>
                                    </ValidationObserver>
                                </v-col>
                            </v-row>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-footer
                class="font-weight-medium"
                absolute
            >
                <v-col
                    class="text-center grey--text caption"
                    cols="12"
                >
                    Desarrollado con ❤️ por <a target="_blank" href="https://www.linkedin.com/in/luisa-mar%C3%ADa-alzate-parrado-89a88a17a/">Luisa María Alzate</a> - {{ new Date().getFullYear() }} © Derechos Reservados.
                </v-col>
            </v-footer>
        </v-container>
    </v-main>
</template>

<script>
    import AuthService from "../services/AuthService";
    import {EventBus} from "../EventBus";
    import {ALERTS} from "../globals";
    import {mapState} from "vuex";

    export default {
        name: "Login",
        data: () => ({
            form:{
                email:"",
                password:"",
            },
            isLoading: false
        }),
        methods:{
            async login(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    try {
                        this.isLoading = true;
                        let resp = await AuthService.login(this.form);
                        localStorage.setItem('token', resp.data.access_token);
                        localStorage.setItem('user', JSON.stringify(resp.data.user));
                        window.location.reload();
                    } catch (e) {
                        EventBus.$emit('handle-error',e)
                    } finally {
                        this.isLoading = false;
                    }
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            }
        },
        computed:{
            ...mapState(['logo_institucion'])
        }
    }
</script>

<style scoped>
    #img-logo{
        border-right: none;
    }
    @media (min-width: 992px) {
        #img-logo{
            border-right:1px dashed rgba(0, 0, 0, 0.42);
        }
    }
</style>
