<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <ValidationProvider rules="required" v-slot="{ errors }" name="titulo">
                <v-text-field :error-messages="errors" v-model="form.titulo" class="form-control mb-4" label="Título"></v-text-field>
            </ValidationProvider>
            <v-menu
                v-model="menuFecha"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <ValidationObserver ref="formFecha" tag="form">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="fecha">
                            <v-text-field
                                v-model="form.fecha"
                                label="Fecha"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                                :error-messages="errors"
                            ></v-text-field>
                        </ValidationProvider>
                    </ValidationObserver>
                </template>
                <v-date-picker
                    no-title
                    v-model="form.fecha"
                    @input="menuFecha = false"
                ></v-date-picker>
            </v-menu>
            <ValidationProvider rules="" v-slot="{ errors }" name="asistentes">
                <v-autocomplete
                    class="mb-4"
                    v-model="form.users"
                    :items="users"
                    item-text="name"
                    item-value="id"
                    label="Asistentes"
                    :error-messages="errors"
                    :filter="customFilter"
                    multiple
                    chips
                ></v-autocomplete>
            </ValidationProvider>
            <ValidationProvider rules="" v-slot="{ errors }" name="asignaturas">
                <v-autocomplete
                    class="mb-4"
                    v-model="form.asignaturas"
                    :items="asignaturas"
                    item-text="nombre"
                    item-value="codigo"
                    label="Seleccionar estudiantes por asignatura"
                    :error-messages="errors"
                    :filter="customFilterAsignaturas"
                    multiple
                    chips
                ></v-autocomplete>
            </ValidationProvider>
            <v-dialog
                ref="dialog"
                v-model="modalTime"
                :return-value.sync="form.hora"
                persistent
                width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="Hora de inicio">
                        <v-text-field
                            v-model="form.hora"
                            label="Hora de inicio"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                    </ValidationProvider>
                </template>
                <v-time-picker
                    v-if="modalTime"
                    v-model="form.hora"
                    full-width
                >
                    <v-spacer></v-spacer>
                    <v-btn
                        text
                        color="primary"
                        @click="modalTime = false"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        text
                        color="primary"
                        @click="$refs.dialog.save(form.hora)"
                    >
                        OK
                    </v-btn>
                </v-time-picker>
            </v-dialog>
            <v-dialog
                ref="dialog2"
                v-model="modalTimeEnd"
                :return-value.sync="form.hora_fin"
                persistent
                width="290px"
            >
                <template v-slot:activator="{ on, attrs }">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="Hora de fin">
                        <v-text-field
                            v-model="form.hora_fin"
                            label="Hora de fin"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                    </ValidationProvider>
                </template>
                <v-time-picker
                    v-if="modalTimeEnd"
                    v-model="form.hora_fin"
                    full-width
                >
                    <v-spacer></v-spacer>
                    <v-btn
                        text
                        color="primary"
                        @click="modalTimeEnd = false"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        text
                        color="primary"
                        @click="$refs.dialog2.save(form.hora_fin)"
                    >
                        OK
                    </v-btn>
                </v-time-picker>
            </v-dialog>
            <tiptap-vuetify
                v-model="form.description"
                :extensions="extensions"
            />
            <div class="d-flex justify-end mt-4">
                <v-btn color="primary darken-1" v-if="!itemData" type="button" @click="clear" text>Limpiar</v-btn>
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify';
    import AsignaturaService from "../../../services/AsignaturaService";
    import UserService from "../../../services/UserService";

    export default {
        name: "EventoForm",
        components: { TiptapVuetify },
        props: {
            itemData:{
                required: true,
            }
        },

        watch: {
            itemData(){
                this.getInfo();
                this.actualizarForm();
            }
        },

        data() {
            return {
                form:{
                    titulo:"",
                    description:"",
                    fecha:"",
                    hora:"",
                    hora_fin:"",
                    users:[],
                    asignaturas:[]
                },
                modalTime: false,
                modalTimeEnd: false,
                menuFecha: false,
                users:[],
                asignaturas:[],
                extensions: [
                    History,
                    Blockquote,
                    Link,
                    Underline,
                    Strike,
                    Italic,
                    ListItem,
                    BulletList,
                    OrderedList,
                    [Heading, {
                        options: {
                            levels: [1, 2, 3]
                        }
                    }],
                    Bold,
                    Code,
                    HorizontalRule,
                    Paragraph,
                    HardBreak
                ],
            }
        },

        methods: {
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    this.users = (await UserService.all()).data.data;
                    this.asignaturas = (await AsignaturaService.all('?no_pagination')).data.data;
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }

            },
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form);
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            actualizarForm(){
                if(this.$props.itemData !== null) {
                    this.form = this.$props.itemData;
                    this.form.users = this.form.users.map(item => {
                        return item.id;
                    });
                    this.form.asignaturas = [];
                }else{
                    this.clear()
                }
            },
            customFilter (item, queryText) {
                const textOne = item.name.toLowerCase();
                const textTwo = item.identificacion.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
            customFilterAsignaturas(item, queryText) {
                const textOne = item.nombre.toLowerCase();
                const textTwo = item.codigo.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
            clear(){
                this.form = {
                    titulo:"",
                    description:"",
                    fecha:"",
                    hora:"",
                    hora_fin:"",
                    users:[],
                    asignaturas:[]
                };
                this.$refs.observer.reset()
            }
        },

        mounted() {
            this.getInfo();
            this.actualizarForm();
        }
    }
</script>
