<template>
    <div>
        <v-dialog
            v-model="dialogDay"
            max-width="600"
            scrollable
        >
            <v-card>
                <v-card-title class="headline">{{getWeekDay(daySelected.weekday)}} {{daySelected.date}}</v-card-title>

                <v-card-text>
                    <clases-list-component :clases="clasesDaySelected" />
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-row class="fill-height">
            <v-col>
                <p class="text-wrap text-h6 mb-0 d-block d-md-none" v-if="$refs.calendar">
                    {{ $refs.calendar.title.toUpperCase() }}
                </p>
                <v-sheet height="64">
                    <v-toolbar flat color="white">
                        <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                            Hoy
                        </v-btn>
                        <v-btn fab text small color="grey darken-2" @click="prev">
                            <v-icon small>mdi-chevron-left</v-icon>
                        </v-btn>
                        <v-btn fab text small color="grey darken-2" @click="next">
                            <v-icon small>mdi-chevron-right</v-icon>
                        </v-btn>
                        <v-toolbar-title class="d-none d-md-block" v-if="$refs.calendar">
                            {{ $refs.calendar.title.toUpperCase() }}
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-menu bottom right>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    outlined
                                    color="grey darken-2"
                                    v-bind="attrs"
                                    v-on="on"
                                >
                                    <span>{{ typeToLabel[type] }}</span>
                                    <v-icon right>mdi-menu-down</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item @click="type = 'day'">
                                    <v-list-item-title>Día</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="type = 'week'">
                                    <v-list-item-title>Semana</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="type = 'month'">
                                    <v-list-item-title>Mes</v-list-item-title>
                                </v-list-item>
                                <!--
                                <v-list-item @click="type = '4day'">
                                    <v-list-item-title>4 días</v-list-item-title>
                                </v-list-item>
                                -->
                            </v-list>
                        </v-menu>
                    </v-toolbar>
                </v-sheet>
                <v-sheet height="600">
                    <v-calendar
                        ref="calendar"
                        v-model="focus"
                        color="primary"
                        :events="events"
                        :event-color="getEventColor"
                        event-more-text="Ver todo"
                        :type="type"
                        @click:event="(item)=>{customViewDay(item.day, item)}"
                        @click:more="(d)=>{customViewDay(d)}"
                        @click:date="(d)=>{customViewDay(d)}"
                        @change="updateRange"
                    ></v-calendar>
                    <v-menu
                        v-model="selectedOpen"
                        :close-on-content-click="false"
                        :activator="selectedElement"
                        offset-x
                    >
                        <v-card
                            color="grey lighten-4"
                            min-width="290px"
                            flat
                        >
                            <v-toolbar
                                :color="selectedEvent.color"
                                flat
                                dense
                                dark
                            >
                                <v-toolbar-title class="text-wrap" v-html="selectedEvent.name"></v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <p class="text-wrap"><strong>Hora: </strong>{{ selectedEvent.start | moment("hh:mm a") }} - {{ selectedEvent.end | moment("hh:mm a") }}</p>
                                <p class="text-wrap"><strong>Docente: </strong>{{selectedEvent.docente}} <{{selectedEvent.email}}></p>
                                <p class="text-wrap"><strong>Salón: </strong>{{selectedEvent.salon}}</p>
                                <v-card outlined v-if="selectedEvent.description">
                                    <v-card-text>
                                        <p class="mb-0" v-html="selectedEvent.description"></p>
                                    </v-card-text>
                                </v-card>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                    text
                                    color="secondary"
                                >
                                    Ver asignatura
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                </v-sheet>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import ClasesListComponent from "./ClasesListComponent";
    export default {
        name: "CalendarComponent",
        components: {ClasesListComponent},
        data: () => ({
            focus: '',
            type: 'month',
            typeToLabel: {
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                '4day': '4 Días',
            },
            selectedEvent: {},
            selectedElement: null,
            selectedOpen: false,
            events: [],
            dialogDay: false,
            daySelected: {}
        }),
        mounted () {
            this.$refs.calendar.checkChange()
        },
        methods: {
            viewDay ({ date }) {
                this.focus = date
                this.type = 'day'
            },
            getEventColor (event) {
                return event.color
            },
            setToday () {
                this.focus = ''
            },
            prev () {
                this.$refs.calendar.prev()
            },
            next () {
                this.$refs.calendar.next()
            },
            customViewDay(date, event = null){
                if(event && this.type !== 'month'){
                    this.showEvent(event)
                }else{
                    this.dialogDay = true;
                    this.daySelected = date;
                }
            },
            showEvent ({ nativeEvent, event }) {
                const open = () => {
                    this.selectedEvent = event
                    this.selectedElement = nativeEvent.target
                    setTimeout(() => this.selectedOpen = true, 10)
                }

                if (this.selectedOpen) {
                    this.selectedOpen = false
                    setTimeout(open, 10)
                } else {
                    open()
                }

                nativeEvent.stopPropagation()
            },
            updateRange (/*{ start, end }*/) {
                const events = [];
                for (let i = 0; i < this.clases.length; i++) {
                    events.push({
                        name: this.clases[i].asignatura,
                        start: this.clases[i].hora,
                        end: this.clases[i].hora_fin,
                        color: this.getColorIdx(i),
                        timed: true,
                        docente:this.clases[i].docente_nombre,
                        description:this.clases[i].description,
                        email:this.clases[i].docente_email,
                        salon: this.clases[i].aula_id ? this.clases[i].aula.nombre : 'Sin salón'
                    })
                }
                this.events = events
            },
            getWeekDay(num){
                let week = {
                    1:'Lunes',
                    2:'Martes',
                    3:'Miércoles',
                    4:'Jueves',
                    5:'Viernes',
                    6:'Sábado',
                    7:'Domingo',
                };
                return week[num];
            },
        },
        computed:{
            clasesDaySelected(){
                let clases = [];
                for(let i = 0; i < this.clases.length; i++){
                    if(this.clases[i].fecha === this.daySelected.date){
                        //buscamos en que posicion agregarlo para que queden en orden de horarios
                        let pos = 0;
                        let posFound = false;
                        for(let j = 0; j < clases.length; j++){
                            if(this.$moment(clases[j].hora).diff(this.$moment(this.clases[i].hora)) > 0 && !posFound){
                                pos = j;
                                posFound = true;
                            }
                        }
                        if(posFound){
                            clases.splice(pos, 0, this.clases[i])
                        }else{
                            clases.push(this.clases[i])
                        }
                    }
                }
                return clases;
            }
        },
        props:['clases'],
        watch:{
            clases(){
                this.updateRange()
            },

        }
    }
</script>
