<template>
    <div>
        <v-list two-line>
            <v-list-item v-for="clase in clases" :key="clase.id">
                <v-list-item-icon class="d-none d-sm-block">
                    <v-icon color="indigo">mdi-checkbox-blank-circle</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title class="text-wrap text-h6"><strong>{{clase.asignatura}}</strong></v-list-item-title>
                    <v-list-item-subtitle class="text-wrap">
                        <p class="mb-0"><strong>Hora:</strong> {{clase.hora | moment("hh:mm a")}} - {{clase.hora_fin | moment("hh:mm a")}}</p>
                        <p class="mb-0" v-if="clase.aula_id"><strong>Salón:</strong> {{clase.aula.nombre}}</p>
                        <p class="mb-0" v-if="clase.docente_nombre" id="testing-code"><strong>Docente:</strong> {{clase.docente_nombre}} <{{clase.docente_email}}></p>
                        <v-card outlined v-if="clase.description">
                            <v-card-text>
                                <p class="mb-0" v-html="clase.description"></p>
                            </v-card-text>
                        </v-card>
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <p v-if="clases.length === 0">No hay tutorías programadas para este día</p>
    </div>
</template>

<script>
    export default {
        name: "ClasesListComponent",
        data: () => ({

        }),
        mounted () {

        },
        methods: {
            copyToClipboard(str){
            }
        },
        computed:{

        },
        props:['clases'],
        watch:{

        }
    }
</script>
