<template>
    <div>
        <v-list two-line>
            <v-list-item v-for="clase in clases" :key="clase.id">
                <v-list-item-icon class="d-none d-sm-block">
                    <v-icon color="indigo">mdi-checkbox-blank-circle</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title class="text-wrap  text-h6"><strong>{{clase.fecha | moment("dddd, MMMM Do YYYY") | capitalize}}</strong></v-list-item-title>
                    <v-list-item-subtitle class="text-wrap">
                        <p class="mb-0"><strong>Hora:</strong> {{clase.hora | moment("hh:mm a")}} - {{clase.hora_fin | moment("hh:mm a")}}</p>
                        <p class="mb-0"><strong>Salón:</strong> {{clase.aula_id ? clase.aula.nombre : 'Sin salón asignado'}}</p>
                        <v-card outlined v-if="clase.description">
                            <v-card-text>
                                <p class="mb-0" v-html="clase.description"></p>
                            </v-card-text>
                        </v-card>
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <p v-if="clases.length === 0">No hay tutorías programadas para esta asignatura</p>
    </div>
</template>

<script>
    export default {
        name: "ClasesAsignaturaComponent",
        data: () => ({

        }),
        mounted () {

        },
        methods: {
            copyToClipboard(str){
            }
        },
        computed:{

        },
        props:['clases'],
        watch:{

        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>
