<template>
    <v-app>
        <v-snackbar
            v-model="snackbar"
            top
            :color="snackbarColor"
            :timeout="snackbarTime"
        >
            {{ snackbarText }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    dark
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Cerrar
                </v-btn>
            </template>
        </v-snackbar>
        <v-dialog
            v-model="dialog"
            width="500"
        >
            <v-card>
                <v-card-title class="orange lighten-2 white--text">
                    <v-icon class="mr-3 white--text">mdi-alert-circle-outline</v-icon> ¿Estás seguro?
                </v-card-title>
                <v-card-text>
                    <p class="pt-10 text-h6 text-center">{{dialogText}}</p>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="orange"
                        text
                        @click="dialog = false"
                    >
                        Cancelar
                    </v-btn>
                    <v-btn
                        color="orange lighten-2"
                        dark
                        @click="dialogCallback"
                    >
                        Aceptar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <router-view />
    </v-app>
</template>

<script>
    import {EventBus} from "../EventBus";
    import {ALERTS} from "../globals";
    import GeneralService from "../services/GeneralService";
    import {mapMutations} from "vuex";

    export default {
        components: {},
        mounted() {
            //ALERTAS
            EventBus.$on('success-alert', (text, notime = false)=>{this.openAlert(text,"success",notime)});
            EventBus.$on('success-update-alert', ()=>{this.openAlert(ALERTS.success.update,"success")});
            EventBus.$on('success-create-alert', ()=>{this.openAlert(ALERTS.success.create,"success")});
            EventBus.$on('error-alert', (text)=>{this.openAlert(text,"error")});
            EventBus.$on('handle-error', (error, notime = false)=>{this.handleError(error,notime)});
            EventBus.$on('warning-alert', (text, callback)=>{this.openDialog(text, callback)});
            this.getParameters()
        },
        methods:{
            openAlert(text, color,notime = false){
                if(notime){
                    this.snackbarTime = "-1"
                }else{
                    this.snackbarTime = "5000"
                }
                this.snackbarText = text;
                this.snackbarColor = color;
                this.snackbar = true;
            },
            handleError(error, notime = false){
                if(notime){
                    this.snackbarTime = "-1"
                }else{
                    this.snackbarTime = "5000"
                }
                if(error.response.status === 500){
                    this.openAlert(ALERTS.error.internal,"error")
                }else{
                    this.openAlert(error.response.data.error,"error")
                }
            },
            openDialog(text, callback){
                this.dialog = true;
                this.dialogText = text;
                this.dialogFunc = callback;
            },
            dialogCallback(){
                this.dialog = false;
                this.dialogFunc();
            },
            async getParameters(){
                try{
                    let resp = await GeneralService.getParameters();
                    this.setDuracionClase(resp.data.data.duracion_clase);
                    if(resp.data.data.logo_institucion){
                        this.setLogoInstitucion(resp.data.data.logo_institucion)
                    }
                }catch (e) {
                    this.handleError(e)
                }
            },
            ...mapMutations(['setDuracionClase','setLogoInstitucion'])
        },
        data(){
            return {
                snackbar: false,
                snackbarText: "",
                snackbarColor: "error",
                snackbarTime: "5000",
                dialog: false,
                dialogText:"",
                dialogFunc:function () {},
            }
        },
    }
</script>
