<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                <v-text-field :error-messages="errors" v-model="form.name" class="form-control" label="Nombre"></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                <v-text-field :error-messages="errors" v-model="form.email" class="form-control" label="Email"></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="identificación">
                <v-text-field :error-messages="errors" v-model="form.identificacion" class="form-control" label="Identificación"></v-text-field>
            </ValidationProvider>
            <ValidationProvider v-slot="{ errors }" name="asignaturas">
                <v-autocomplete
                    v-model="form.asignaturas"
                    :items="asignaturas"
                    item-text="nombre"
                    item-value="id"
                    label="Asignaturas"
                    :error-messages="errors"
                    :filter="customFilterAsignaturas"
                    multiple
                    chips
                ></v-autocomplete>
            </ValidationProvider>
            <div class="d-flex justify-end">
                <v-btn color="primary darken-1" v-if="!itemData" type="button" @click="clear" text>Limpiar</v-btn>
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../EventBus";
    import {ALERTS} from "../globals";
    import AsignaturaService from "../services/AsignaturaService";

    export default {
        name: "UserForm",

        props: {
            itemData:{
                required: true,
            }
        },

        watch: {
            itemData(){
                this.actualizarForm()
            }
        },

        data() {
            return {
                form:{
                    identificacion:"",
                    name:"",
                    email:"",
                    asignaturas:[]
                },
                asignaturas:[],
            }
        },

        methods: {
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    let resp = await AsignaturaService.all('?per_page=-1');
                    this.asignaturas = resp.data.data.data;
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }
            },
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form);
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            actualizarForm(){
                if(this.$props.itemData !== null) {
                    this.form = this.$props.itemData;
                    this.form.asignaturas = this.$props.itemData.asignaturas;
                }else{
                    this.clear()
                }
            },
            clear(){
                this.form = {
                    identificacion:"",
                    name:"",
                    email:"",
                    asignaturas:[]
                };
                this.$refs.observer.reset()
            },
            customFilterAsignaturas(item, queryText) {
                const textOne = item.nombre.toLowerCase();
                const textTwo = item.codigo.toLowerCase();
                const searchText = queryText.toLowerCase();

                return textOne.indexOf(searchText) > -1 ||
                    textTwo.indexOf(searchText) > -1
            },
        },

        mounted() {
            this.getInfo();
            this.actualizarForm()
        }
    }
</script>
