<template>
    <div>
        <h1 class="text-h5 mb-0 primary--text">
            <v-icon
                class="primary--text"
                @click="$router.back()"
            >
                mdi-arrow-left
            </v-icon>
            Docente | <strong>{{docente.name}}</strong>
        </h1>
        <p>{{docente.email}}</p>
        <v-row>
            <v-col md="4" lg="3">
                <v-card>
                    <v-card-text>
                        <v-list shaped dense>
                            <v-subheader>ASIGNATURAS</v-subheader>
                            <v-list-item-group color="primary">
                                <v-list-item
                                    v-for="asignatura in docente.asignaturas_docente"
                                    :key="asignatura.id"
                                    link
                                    :to="'/admin/asignaturas/'+asignatura.id"
                                >
                                    <v-list-item-content>
                                        <v-list-item-title class="text-wrap" v-text="asignatura.nombre"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="8" lg="9">
                <calendar-component :clases="clases" />
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import  { EventBus } from "../../../../EventBus";
    import DocentesService from "../../../../services/DocentesService";
    import CalendarComponent from "../../../../components/CalendarComponent";

    export default {
        name: "DocenteDetail",
        components: {CalendarComponent},
        data(){
            return {
                docente:{
                    asignaturas_docente:[]
                }
            }
        },
        mounted() {
            this.getInfo();
        },
        methods:{
            async getInfo(){
                try{
                    EventBus.$emit('loading');
                    let info = await DocentesService.find(this.$route.params.id);
                    this.docente = info.data.data;
                    console.log(info);
                    EventBus.$emit('loading-close');
                }catch(error){
                    console.log(error)
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            }
        },
        computed:{
            clases(){
                let clases = [];
                let asignaturas = this.docente.asignaturas_docente;
                let vm = this;
                for(let i = 0; i < asignaturas.length; i++){
                    for(let j = 0; j < asignaturas[i].clases.length; j++){
                        asignaturas[i].clases[j].asignatura = asignaturas[i].nombre;
                        asignaturas[i].clases[j].docente_nombre = vm.docente.name;
                        asignaturas[i].clases[j].docente_email = vm.docente.email;
                        clases.push(asignaturas[i].clases[j])
                    }
                }
                return clases;
            }
        }
    }
</script>
