<template>
    <div>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <h1 class="text-h5">Estudiantes</h1>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="isModalOpen" max-width="600px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    color="accent"
                                    dark
                                    class="mb-2"
                                    @click="mostrarFormAgregar"
                                >+ Agregar Estudiante</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">{{accion}} Estudiante</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <user-form @guardar="(item)=>{handleSubmit(item)}" :item-data="editarRegistro" />
                                    </v-container>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                            v-model="inputSearch"
                            append-icon="mdi-magnify"
                            label="Buscar estudiante"
                            single-line
                            class="mb-3"
                            @change="index"
                        ></v-text-field>
                        <v-data-table
                            :headers="fields"
                            :items="items"
                            :items-per-page="5"
                            :loading="isLoading"
                            :options.sync="options"
                            loading-text="Cargando"
                            :server-items-length="rows"
                            locale="es"
                        >
                            <template v-slot:item.name="{ item }">
                                <a href="javascript:void(0)" @click="$router.push({name: 'admin-estudiantes-show', params:{id: item.id}})">{{item.name}}</a>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="mostrarFormEditar(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-pencil
                                        </v-icon>
                                    </template>
                                    <span>Editar</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            class="mr-2"
                                            @click="restaurarPassword(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-reload
                                        </v-icon>
                                    </template>
                                    <span>Restablecer Contraseña</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                            small
                                            @click="deleteItem(item)"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            mdi-delete
                                        </v-icon>
                                    </template>
                                    <span>Eliminar</span>
                                </v-tooltip>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import UserService from "../../../services/UserService";
    import EstudiantesService from "../../../services/EstudiantesService";
    import UserForm from "../../../components/UserForm";

    export default {
        components: {UserForm},
        mounted() {
            this.index()
        },
        data(){
            return {
                items: [],
                fields: [
                    {
                        text: 'Nombre',
                        value: 'name',
                        sortable: true
                    },
                    {
                        text: 'Correo',
                        value: 'email',
                        sortable: true
                    },
                    {
                        value: 'identificacion',
                        text: 'Identificación',
                        sortable: true,
                    },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ],
                options:{},
                filterText: '',
                currentPage: 1,
                rows: 1,
                perPage: 10,
                isModalOpen: false,
                accion:'Agregar',
                editarRegistro: null,
                isLoading: true,
                inputSearch:""
            }
        },
        methods:{
            index(){
                this.isLoading = true;
                let options = this.options;
                let query = "";
                let sort = options.sortBy.length > 0 ? '&order_by='+options.sortBy[0] : '&order_by=updated_at';
                let order = '&order='+(options.sortDesc[0] ? 'asc' : 'desc');
                let termino = '&termino='+this.inputSearch;
                query = '?page='+options.page+'&per_page='+options.itemsPerPage+sort+order+termino;
                EstudiantesService.all(query).then((resp)=>{
                    this.items = resp.data.data.data;
                    this.currentPage = resp.data.data.current_page;
                    this.rows = resp.data.data.total;
                }).catch((error)=>{
                    EventBus.$emit('handle-error',error);
                }).finally(()=>{
                    this.isLoading = false;
                })
            },
            mostrarFormAgregar(){
                this.accion = 'Agregar';
                this.isModalOpen = true;
                this.editarRegistro = null;
            },
            mostrarFormEditar(item){
                this.accion = 'Editar';
                this.isModalOpen = true;
                this.editarRegistro = item;
            },
            handleSubmit(data){
                EventBus.$emit('loading');
                if(this.accion === 'Agregar'){
                    this.guardarRegistro(data)
                }else{
                    this.actualizarRegistro(data)
                }
            },
            async guardarRegistro(data){
                try{
                    await EstudiantesService.store(data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    EventBus.$emit('success-create-alert');
                    this.index();
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async actualizarRegistro(data){
                try{
                    await EstudiantesService.update(data.id,data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    EventBus.$emit('success-update-alert');
                    this.index();
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            async deleteItem(item){
                let vm = this;
                EventBus.$emit('warning-alert', ALERTS.warning.delete, async function () {
                    try{
                        vm.isLoading = true;
                        await EstudiantesService.delete(item.id);
                        vm.isLoading = false;
                        EventBus.$emit('success-update-alert');
                        vm.index();
                    }catch(error){
                        vm.isLoading = false;
                        EventBus.$emit('handle-error',error);
                    }
                });
            },
            async restaurarPassword(item){
                let vm = this;
                let alert = 'Se restaurará la contraseña de '+item.name+' para que sea su número de identificación';
                EventBus.$emit('warning-alert', alert, async function () {
                    try{
                        vm.isLoading = true;
                        await UserService.restorePassword(item.id);
                        vm.isLoading = false;
                        EventBus.$emit('success-update-alert');
                        vm.index();
                    }catch(error){
                        vm.isLoading = false;
                        EventBus.$emit('handle-error',error);
                    }
                });
            },

        },
        watch: {
            options: {
                handler () {
                    this.index()
                },
                deep: true,
            },
        },
    }
</script>
