<template>
    <div>
        <h1 class="text-h5 mb-4">Mis Asignaturas</h1>
        <v-divider></v-divider>
        <v-row>
            <v-col v-for="(asignatura, idx) in asignaturas" :key="asignatura.id" cols="12" sm="6" md="4" lg="3">
                <v-card @click="$router.push({name:'dashboard-asignaturas-show',params:{id: asignatura.id}})" ripple :color="getColorIdx(idx)" class="white--text">
                    <v-card-title>
                        <p class="overline mb-0 mr-auto">Código: {{asignatura.codigo}}</p>
                    </v-card-title>
                    <v-card-text class="white--text">
                        <p class="text-wrap text-h6 text-strong" style="word-break: normal;">{{asignatura.nombre}}</p>
                        <p>{{asignatura.estudiantes_count}} Estudiantes | {{asignatura.clases_count}} Tutorías programadas</p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import { EventBus } from "../../../EventBus";
    import UserService from "../../../services/UserService";

    export default {
        name: "Asignaturas",
        data(){
            return {
                asignaturas: []
            }
        },
        mounted() {
            this.getAsignaturas()
        },
        methods: {
            async getAsignaturas(){
                try{
                    EventBus.$emit('loading');
                    let info = await UserService.misAsignaturas(this.authUser.id);
                    this.asignaturas = info.data.data;
                    console.log(info);
                    EventBus.$emit('loading-close');
                }catch(error){
                    console.log(error);
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            }
        },
    }
</script>
