<template>
    <div>
        <v-dialog
            v-model="estudianteDialog.open"
            max-width="500"
        >
            <v-card>
                <v-card-title class="headline">{{estudianteDialog.nombre}}</v-card-title>
                <v-card-text>
                    {{estudianteDialog.email}}
                </v-card-text>
            </v-card>
        </v-dialog>
        <h1 class="text-h5 mb-0 primary--text">
            <v-icon
                class="primary--text"
                @click="$router.back()"
            >
                mdi-arrow-left
            </v-icon>
            Asignatura | <strong>{{asignatura.nombre}}</strong>
        </h1>
        <p>{{asignatura.codigo}}</p>
        <v-row>
            <v-col md="4">
                <v-card>
                    <v-card-title>Participantes</v-card-title>
                    <v-card-text>
                        <p class="caption">(Clickea un participante para ver su email)</p>
                        <v-list shaped dense>
                            <v-subheader>DOCENTE</v-subheader>
                            <v-list-item-group color="primary" v-if="asignatura.docente_id">
                                <v-list-item @click="openDialogEstudiante(asignatura.docente)">
                                    <v-list-item-content>
                                        <v-list-item-title class="text-wrap" v-text="asignatura.docente.name"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                            <p v-if="!asignatura.docente_id" class="pl-4">Sin docente asignado</p>
                            <v-subheader>ESTUDIANTES</v-subheader>
                            <v-list-item-group color="primary">
                                <v-list-item
                                    v-for="estudiante in asignatura.estudiantes"
                                    @click="openDialogEstudiante(estudiante)"
                                    :key="estudiante.id">
                                    <v-list-item-content>
                                        <v-list-item-title style="font-weight: 300" class="text-wrap">{{estudiante.name}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="8">
                <v-card>
                    <v-card-title>Tutorías</v-card-title>
                    <v-card-text>
                        <clases-asignatura-component :clases="asignatura.clases" />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import  { EventBus } from "../../../EventBus";
    import CalendarComponent from "../../../components/CalendarComponent";
    import AsignaturaService from "../../../services/AsignaturaService";
    import ClasesAsignaturaComponent from "../../../components/ClasesAsignaturaComponent";

    export default {
        name: "AsignaturaDetail",
        components: {ClasesAsignaturaComponent, CalendarComponent},
        data(){
            return {
                asignatura:{
                    nombre:"",
                    codigo:"",
                    estudiantes:[],
                    clases:[]
                },
                estudianteDialog:{
                    open: false,
                    nombre: "",
                    email: "",
                }
            }
        },
        mounted() {
            this.getInfo();
        },
        methods:{
            async getInfo(){
                try{
                    EventBus.$emit('loading');
                    let info = await AsignaturaService.find(this.$route.params.id);
                    this.asignatura = info.data.data;
                    console.log(info);
                    EventBus.$emit('loading-close');
                }catch(error){
                    console.log(error)
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
            openDialogEstudiante(est){
                this.estudianteDialog.open = true;
                this.estudianteDialog.nombre = est.name;
                this.estudianteDialog.email = est.email;
            }
        },
        computed:{

        }
    }
</script>
