<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <ValidationProvider rules="required" v-slot="{ errors }" name="salones">
                <v-combobox
                    v-model="form.aulas"
                    :items="aulas"
                    label="Salones"
                    multiple
                    :error-messages="errors"
                    chips
                ></v-combobox>
            </ValidationProvider>
            <v-switch class="mr-2" v-model="form.no_disponible" label="No disponible"></v-switch>
            <div v-if="!form.no_disponible">
                <v-row>
                    <v-checkbox multiple class="mr-2" v-for="dia in diasSemana" :key="dia" v-model="form.dias_semana" :label="dia" :value="dia"></v-checkbox>
                </v-row>
                <v-menu
                    ref="menuHoraInicio"
                    v-model="menuHoraInicio"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="form.hora_inicio"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="Hora inicio">
                            <v-text-field
                                v-model="form.hora_inicio"
                                label="Hora inicio"
                                readonly
                                :error-messages="errors"
                                v-bind="attrs"
                                v-on="on"
                            ></v-text-field>
                        </ValidationProvider>
                    </template>
                    <v-time-picker
                        v-if="menuHoraInicio"
                        v-model="form.hora_inicio"
                        full-width
                    >
                        <slot name="default">
                            <v-spacer></v-spacer>
                            <v-btn
                                color="accent"
                                @click="$refs.menuHoraInicio.save(form.hora_inicio)"
                            >
                                Guardar
                            </v-btn>
                        </slot>
                    </v-time-picker>
                </v-menu>
                <v-menu
                    ref="menuHoraFin"
                    v-model="menuHoraFin"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="form.hora_fin"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="Hora fin">
                            <v-text-field
                                v-model="form.hora_fin"
                                label="Hora fin"
                                readonly
                                :error-messages="errors"
                                v-bind="attrs"
                                v-on="on"
                            ></v-text-field>
                        </ValidationProvider>
                    </template>
                    <v-time-picker
                        v-if="menuHoraFin"
                        v-model="form.hora_fin"
                        full-width
                    >
                        <slot name="default">
                            <v-spacer></v-spacer>
                            <v-btn
                                color="accent"
                                @click="$refs.menuHoraFin.save(form.hora_fin)"
                            >
                                Guardar
                            </v-btn>
                        </slot>
                    </v-time-picker>
                </v-menu>
                <v-checkbox class="mr-2"  v-model="salonesCompartidos" label="Permite salones compartidos" :value="true"></v-checkbox>
                <div v-if="salonesCompartidos">
                    <ValidationProvider rules="required|numeric|min:1" v-slot="{ errors }" name="cantidad máxima">
                        <v-text-field :error-messages="errors" v-model="form.cantidad_docentes" class="form-control mb-4" label="Cantidad máxima de docentes"></v-text-field>
                    </ValidationProvider>
                </div>
            </div>
            <div class="d-flex justify-end">
                <v-btn color="primary darken-1" type="button" @click="clear" text>Limpiar</v-btn>
                <v-btn color="primary darken-1" @click="guardar">Guardar</v-btn>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import {ALERTS} from "../../../globals";
    import AulaService from "../../../services/AulaService";

    export default {
        name: "AsignaturaForm",

        props: {
        },

        watch: {

        },

        data() {
            return {
                form:{
                    dias_semana:[],
                    aulas:[],
                    hora_inicio: null,
                    hora_fin: null,
                    cantidad_docentes: 1,
                    no_disponible: false
                },
                aulas:[],
                diasSemana:["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"],
                menuHoraInicio: false,
                menuHoraFin: false,
                salonesCompartidos: false
            }
        },

        methods: {
            async getInfo(){
                EventBus.$emit('loading');
                try{
                    let aulas = (await AulaService.all()).data.data;
                    this.aulas = aulas.map(item => {
                        return item.nombre;
                    });
                    EventBus.$emit('loading-close');
                }catch (e) {
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',e);
                }

            },
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    if(this.form.no_disponible){
                        this.$emit('guardar', this.form);
                    }else{
                        if(this.form.dias_semana.length === 0){
                            EventBus.$emit('error-alert','Debes seleccionar por lo menos un día')
                        }else{
                            this.$emit('guardar', this.form);
                        }
                    }
                }else{
                    EventBus.$emit('error-alert',ALERTS.error.form)
                }
            },
            clear(){
                this.form = {
                    dias_semana:[],
                    aulas:[],
                    hora_inicio: null,
                    hora_fin: null,
                    cantidad_docentes: 1
                };
                this.$refs.observer.reset()
            }
        },

        mounted() {
            this.getInfo();
        }
    }
</script>
