<template>
    <div>
        <h1 class="text-h5 mb-0 primary--text">
            <v-icon
                class="primary--text"
                @click="$router.back()"
            >
                mdi-arrow-left
            </v-icon>
            Asignatura | <strong>{{asignatura.nombre}}</strong>
        </h1>
        <p>{{asignatura.codigo}}</p>
        <v-row>
            <v-col md="4">
                <v-card>
                    <v-card-title>Participantes</v-card-title>
                    <v-card-text>
                        <v-list shaped dense>
                            <v-subheader>DOCENTE</v-subheader>
                            <v-list-item-group color="primary" v-if="asignatura.docente_id">
                                <v-list-item
                                    link
                                    :to="'/admin/docentes/'+asignatura.docente_id">
                                    <v-list-item-content>
                                        <v-list-item-title style="font-weight: 300"  class="text-wrap" v-text="asignatura.docente.name+' <'+asignatura.docente.email+'>'"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                            <p v-if="!asignatura.docente_id" class="pl-4">Sin docente asignado</p>
                            <v-subheader>ESTUDIANTES</v-subheader>
                            <v-list-item-group color="primary">
                                <v-list-item
                                    v-for="estudiante in asignatura.estudiantes"
                                    :key="estudiante.id"
                                    link
                                    :to="'/admin/estudiantes/'+estudiante.id"
                                >
                                    <v-list-item-content>
                                        <v-list-item-title style="font-weight: 300" class="text-wrap" v-text="estudiante.name+' <'+estudiante.email+'>'"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="8">
                <v-card>
                    <v-card-title>Tutorías</v-card-title>
                    <v-card-text>
                        <clases-asignatura-component :clases="asignatura.clases" />
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import  { EventBus } from "../../../EventBus";
    import CalendarComponent from "../../../components/CalendarComponent";
    import AsignaturaService from "../../../services/AsignaturaService";
    import ClasesAsignaturaComponent from "../../../components/ClasesAsignaturaComponent";

    export default {
        name: "AdminAsignaturasDetail",
        components: {ClasesAsignaturaComponent, CalendarComponent},
        data(){
            return {
                asignatura:{
                    nombre:"",
                    codigo:"",
                    estudiantes:[],
                    clases:[]
                }
            }
        },
        mounted() {
             this.getInfo();
        },
        methods:{
            async getInfo(){
                try{
                    EventBus.$emit('loading');
                    let info = await AsignaturaService.find(this.$route.params.id);
                    this.asignatura = info.data.data;
                    console.log(info);
                    EventBus.$emit('loading-close');
                }catch(error){
                    console.log(error)
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            }
        },
        computed:{

        }
    }
</script>
