<template>
    <div>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <h1 class="text-h5">Salones</h1>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="isModalOpen" max-width="600px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    color="accent"
                                    dark
                                    class="mb-2"
                                    @click="mostrarFormAgregar"
                                >
                                    <v-icon class="mr-2">mdi-cog</v-icon>
                                    Gestionar Salones</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5"><v-icon class="mr-2">mdi-cog</v-icon> Gestionar Salones</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container>
                                        <salon-form @guardar="(item)=>{guardarRegistro(item)}" />
                                    </v-container>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                            v-model="inputSearch"
                            append-icon="mdi-magnify"
                            label="Buscar salón"
                            single-line
                            class="mb-3"
                            @change="index"
                        ></v-text-field>
                        <v-data-table
                            :headers="fields"
                            :items="items"
                            :items-per-page="5"
                            :loading="isLoading"
                            :options.sync="options"
                            loading-text="Cargando"
                            :server-items-length="rows"
                            locale="es"
                        >
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import HorariosAulaService from "../../../services/HorariosAulaService";
    import SalonForm from "./salonForm";

    export default {
        name:"Salones",
        components: {SalonForm},
        mounted() {
            this.index()
        },
        data(){
            return {
                items: [],
                fields: [
                    {
                        text: 'Aula',
                        value: 'aula.nombre',
                        sortable: true
                    },
                    {
                        text: 'Día',
                        value: 'dia_semana',
                        sortable: true
                    },
                    {
                        text: 'Hora inicio',
                        value: 'hora_inicio',
                        sortable: true
                    },
                    {
                        text: 'Hora fin',
                        value: 'hora_fin',
                        sortable: true
                    },
                    {
                        text: 'Cantidad docentes',
                        value: 'aula.cantidad_docentes',
                        sortable: true
                    },
                ],
                options:{},
                filterText: '',
                currentPage: 1,
                rows: 1,
                perPage: 10,
                isModalOpen: false,
                isLoading: true,
                inputSearch:""
            }
        },
        methods:{
            index(){
                this.isLoading = true;
                let options = this.options;
                let query = "";
                let sort = options.sortBy.length > 0 ? '&order_by='+options.sortBy[0] : '&order_by=updated_at';
                let order = '&order='+(options.sortDesc[0] ? 'asc' : 'desc');
                let termino = '&termino='+this.inputSearch;
                query = '?page='+options.page+'&per_page='+options.itemsPerPage+sort+order+termino;
                HorariosAulaService.all(query).then((resp)=>{
                    this.items = resp.data.data.data;
                    console.log(this.items)
                    this.currentPage = resp.data.data.current_page;
                    this.rows = resp.data.data.total;
                }).catch((error)=>{
                    EventBus.$emit('handle-error',error);
                }).finally(()=>{
                    this.isLoading = false;
                })
            },
            mostrarFormAgregar(){
                this.isModalOpen = true;
            },
            async guardarRegistro(data){
                EventBus.$emit('loading');
                try{
                    await HorariosAulaService.store(data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    EventBus.$emit('success-update-alert');
                    this.index();
                }catch(error){
                    EventBus.$emit('loading-close');
                    EventBus.$emit('handle-error',error);
                }
            },
        },
        watch: {
            options: {
                handler () {
                    this.index()
                },
                deep: true,
            },
        },
    }
</script>
